@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

 /* NAV */
nav{
    height: 100px;
    background-color: #D3D3D3;
}

.nav__logo {
    width: 80px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgb(0 0 0 / 16%);

}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__links{
    display: flex;
}

.nav__link{
    display: flex;
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    color: black;
}

.nav__link:hover {
    text-decoration: underline;
}

/* Header */

.title__name {
    font-size: 72px;
    text-align: center;
}

